* {
  margin: 0;
  text-decoration: none;

}

.default {
  border-radius: 12px;
  border: 1px solid #5D4789;
  padding: 10px 10px 10px 10px ;
  -webkit-text-fill-color: white;
}

.primary {
  border-radius: 12px;
  background: linear-gradient(270deg, #3F3D56 0.03%, #000 100.58%);
  padding: 10px 10px 10px 10px ;
  -webkit-text-fill-color: white;
}

.primary:hover{
  background: linear-gradient(270deg, #676487 0.03%, rgba(0, 0, 0, 0.50) 100.58%);
  ;
}
.default:hover{
  background: linear-gradient(270deg, #676487 0.03%, rgba(0, 0, 0, 0.50) 100.58%);
  ;
}